/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}

main {
	font-family: sans-serif;
}
.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
}

header {
	background-color: lightskyblue;
	padding: 3px;
	font-family: sans-serif;
}

.instructions {
	border: 3px solid gainsboro;
	margin: 20px;
	padding: 20px;
}

.pull-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	border: 5px solid gainsboro;
}
.pull-right {
	border: 3px solid gainsboro;
	float: right;
}
.clear {
	background-color: lightskyblue;
	clear: both;
	padding: 15px;
	margin: auto auto 30px;
}

footer {
	background-color: black;
	color: grey;
	font-family: sans-serif;
	font-style: italic;
	font-size: small;
	padding: 20px;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}